doctype html
html
    head
        meta(charset='utf8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport',    content='width=device-width, initial-scale=1')

        link(rel="icon" href="/favicon.ico?x=fjdlkfdslkj" type="image/x-icon")
        link(rel="shortcut icon" href="/favicon.ico?x=jfdklflsdjk" type="image/x-icon")
        link(type="text/css", rel="stylesheet", href="./static/css/font-awesome/css/font-awesome.min.css")
        link(type="text/css", rel="stylesheet", href="./static/css/main.css")

        script(type="text/javascript", src="./static/js/lib/zepto.min.js")
        script(type="text/javascript", src="./static/js/lib/zepto.fx.js")
    body
        header
            .logo FarmLink
        section.hero-content
            p.tagline
                | A smarter, data-driven way to track and manage your crops
        //section.icons-container
            a(name="email-signup")
            .icon-desc-wrap.left
                .icon-tape
                p.icon-title Connected Field Hardware
            .icon-desc-wrap.right
                .icon-flyers
                p.icon-title Insights Dashboard
        section.email-container
                form.email-form(name="emailForm", id="emailForm", action="/api/chimp" method="post")
                    input.email(type="email", placeholder="email", pattern="/^[A-z0-9._%+-]+@[A-z0-9.-]+[.][A-z]{2,4}$/", name="email", id="email")
                    i.fa.fa-envelope.mail-icon
                    a.btn.btn-action.register(href="javascript:void(0)", id="signupButton") Request Info
        section.diagram-section
            img.diagram(src="./static/img/sensor-diagram.jpg")
        section.diagram-section.grey-background
            img.diagram(src="./static/img/space-sensor.jpg")
        .section-wrapper-advertiser
            h2.section-title
                | Why use Farmlink on
                strong.green &nbsp;your farm?
            section.why-jel-advertiser
                ul
                    li
                        .bubble-container
                            .number-bubble
                                .number 1
                        .text-container
                            .list-text Track soil moisture, pH, and temperature levels of each field.
                    li
                        .bubble-container
                            .number-bubble
                                .number 2
                        .text-container
                            .list-text See an accurate, real-time model of your crops’ growth lifecycle.
                    li
                        .bubble-container
                            .number-bubble
                                .number 3
                        .text-container
                            .list-text Manage water and fertilizer use more efficiently.
                    li
                        .bubble-container
                            .number-bubble
                                .number 4
                        .text-container
                            .list-text Anticipate problems before they hurt your crop.
                    li
                        .bubble-container
                            .number-bubble
                                .number 5
                        .text-container
                            .list-text Receive intelligent alerts on your phone and computer.
        section.contact
            .contact-text
                h2
                    | Want to hear more about Farmlink?
                    a(href="#email-signup")
                        strong.white.get-in-touch &nbsp;Get in touch.
        script(type="text/javascript", src="./static/js/chimp.js")
        script(type="text/javascript", src="./static/js/app.js")
