doctype html
html
    head
        meta(charset='utf8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport',    content='width=device-width, initial-scale=1')

        link(rel="icon" href="/favicon.ico?x=fjdlkfdslkj" type="image/x-icon")
        link(rel="shortcut icon" href="/favicon.ico?x=jfdklflsdjk" type="image/x-icon")
        link(type="text/css", rel="stylesheet", href="./static/css/font-awesome/css/font-awesome.min.css")
        link(type="text/css", rel="stylesheet", href="./static/css/main.css")

        script(type="text/javascript", src="./static/js/lib/zepto.min.js")
        script(type="text/javascript", src="./static/js/lib/zepto.fx.js")
    body
        header
            .logo jel
        section.hero-content
            p.tagline
                | Advertise your product on other retailers'
                strong.pink &nbsp;packaging.
        section.icons-container
            a(name="email-signup")
            .icon-desc-wrap.left
                .icon-tape
                p.icon-title Custom Packing Tape
            .icon-desc-wrap.right
                .icon-flyers
                p.icon-title In-Package Flyers
        section.email-container
                form.email-form(name="emailForm", id="emailForm", action="/api/chimp" method="post")
                    input.email(type="email", placeholder="email", pattern="/^[A-z0-9._%+-]+@[A-z0-9.-]+[.][A-z]{2,4}$/", name="email", id="email")
                    i.fa.fa-envelope.mail-icon
                    a.btn.btn-action.register(href="javascript:void(0)", id="signupButton") Request Info
        .section-wrapper-advertiser
            h2.section-title
                | Why should you Jel if you're an
                strong.indigo &nbsp;Advertiser?
            section.why-jel-advertiser
                ul
                    li
                        .bubble-container
                            .number-bubble
                                .number 1
                        .text-container
                            .list-text Reach people who are guaranteed to have spent online.
                    li
                        .bubble-container
                            .number-bubble
                                .number 2
                        .text-container
                            .list-text Target customers by their purchase history, spend size, and location.
                    li
                        .bubble-container
                            .number-bubble
                                .number 3
                        .text-container
                            .list-text Partner with specific retailers from niche commerce sites to cross-vertical megastores.
                    li
                        .bubble-container
                            .number-bubble
                                .number 4
                        .text-container
                            .list-text Spend as little as $0.45 per package to promote your product.
                    li
                        .bubble-container
                            .number-bubble
                                .number 5
                        .text-container
                            .list-text E-commerce sales will grow by 30% in 2015. Don't miss this wave.
        .section-wrapper-retailer
            h2.section-title
                | Why should you Jel if you're a
                strong.pink &nbsp;Retailer?
            section.why-jel-retailer
                ul
                    li
                        .bubble-container
                            .number-bubble
                                .number 1
                        .text-container
                            .list-text Earn extra revenue with zero extra effort.
                    li
                        .bubble-container
                            .number-bubble
                                .number 2
                        .text-container
                            .list-text Cut packing tape costs (we supply free tape).
                    li
                        .bubble-container
                            .number-bubble
                                .number 3
                        .text-container
                            .list-text We integrate with your existing shipping process.
                    li
                        .bubble-container
                            .number-bubble
                                .number 4
                        .text-container
                            .list-text Advertisers come to you. No need to solicit or onboard partners yourself.
                    li
                        .bubble-container
                            .number-bubble
                                .number 5
                        .text-container
                            .list-text Get started in under 24 hours.
        //.section-wrapper-logos
            h2.section-title Here are some retailers that you can advertise with
            section.logo-container
                .center-wrapper
                    .boconcept-logo
                    .brioni-logo
                    .loccitane-logo
                    .sunglasshut-logo
        section.contact
            .contact-text
                h2
                    | This is cheaper than Google Ads or Direct Mail.
                    br
                    | Don't believe us?
                    a(href="#email-signup")
                        strong.pink.get-in-touch &nbsp; Get in touch.

        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-59762161-1', 'auto');
            ga('send', 'pageview');
        script(type="text/javascript", src="./static/js/chimp.js")
        script(type="text/javascript", src="./static/js/app.js")
