.subheader
    position absolute
    span(1)
    height 275px
    margin-top 80px
    background-color green
    +mobile()
        margin-top 56px
        height 137px //magic number to make it in center of circle
.hero-content
    height 300px
    padding 15px
    margin 80px auto 0 auto
    background-color green
    text-align center
    //width 1024px
    +mobile()
        height 150px
        margin 56px auto 0 auto
        width 100%
    .tagline
        color green-lighter
        font-size 30px
        font-weight 300
        +mobile()
            margin-top 10px
            font-size 18px
            line-height 20px
.icons-container
    width 550px
    height 275px
    left 0
    right 0
    margin-left auto
    margin-right auto
    margin-top -130px
    +mobile()
        margin-top -65px
        width 300px
        height 130px
    .icon-desc-wrap
        display inline-block
        height 275px
        +mobile()
            height 110px
        p
            font-size small
            text-align center
        .icon-title
            font-size 20px
            +mobile()
                font-size 14px
    .icon-tape, .icon-flyers
        width 225px
        height 225px
        border-radius 50%
        background-color green-lighter
        background-repeat no-repeat
        background-position center
        +mobile()
            width 100px
            height 100px
    .icon-tape
        background-image url("../img/circle-chart.png")
        background-size 75%
    .icon-flyers
        background-image url("../img/line-chart.png")
        background-size 70%
.email-container
    width 60%
    max-width 550px
    margin 30px auto 50px auto
    .email-form
        position relative
        display inline-block
        width 100%
        .mail-icon
            position absolute
            top 20px
            left 10px
            font-size 1.75em
            color grey
            transition color .5s linear, background-color .5s ease-in-out
    +mobile()
        width 90%
    .email
        display inline-block
        width 60% // Needed to show "Request Info"
        padding-left 50px
        line-height 65px
        font-size 1.5em
        border-top-right-radius 0
        border-bottom-right-radius 0
        vertical-align middle
        &:focus + .mail-icon
            color grey-darker
        +mobile()
            width 100%
            border-radius 3px
    .register
        width 40%
        border-top-left-radius 0
        border-bottom-left-radius 0
        +mobile()
            width 100%
            border-radius 3px
            margin-top 10px
.why-jel-advertiser, .why-jel-retailer
    height auto
    width 550px
    margin 0 auto 30px auto
    +mobile()
        width 100%
    ul
        padding-start 10px
        -webkit-padding-start 10px
        li
            margin-bottom 12px
            &:last-child
                margin-bottom 0
            cf()
            .bubble-container
                float: left
                width 10%
                .number-bubble
                    height 40px
                    width 40px
                    margin-right 10px
                    border-radius 50%
                    background-color green
                    color white
                    text-align center
                    line-height 40px
                    +mobile()
                        height 30px
                        width 30px
                        line-height 30px
        .text-container
            display table
            float: left
            height 40px
            width 90%
            +mobile()
                height 30px
                padding-left 5px
            .list-text
                display: table-cell
                vertical-align middle
                +mobile()
                    font-size 14px

.why-jel-retailer
    .number-bubble
        background-color pink !important

.section-wrapper-retailer, .section-wrapper-logos
    width 100%
    padding 10px 0

.section-wrapper-retailer
    background-color green-lighter

.section-wrapper-logos
    background-color grey-lightest
    .logo-container
        height auto
        width 800px
        margin 0 auto
        +mobile()
            width 100%
    .boconcept-logo, .brioni-logo
    .loccitane-logo, .sunglasshut-logo
        display inline-block
        width 20%
        height 130px
        margin-right 20px
        background-size 100%
        background-repeat no-repeat
        background-position center
        +mobile()
            margin-right 10px
            height 70px
    .boconcept-logo
        background-image url("../img/boconcept.png")
    .brioni-logo
        background-image url("../img/brioni.png")
    .loccitane-logo
        background-image url("../img/loccitane.png")
    .sunglasshut-logo
        background-image url("../img/sunglasshut.png")
    .center-wrapper
        text-align center

.contact
    height auto
    padding 15px
    background-color green
    .contact-text
        width 550px
        margin 0 auto
        +mobile()
            width 100%
        .get-in-touch
            cursor pointer
        h2
            text-align center
            color green-lighter
            font-weight 300
            +mobile()
                line-height 20px
                font-size 14px
