indigo = #3F51B5
indigo-darker = #303F9F
indigo-lighter = #C5CAE9
white = #FFFFFF
pink = #FF4081
pink-darker = #EC0078
grey = #727272
grey-darker = #212121
grey-lighter = #B6B6B6
grey-lightest = #E6E6E6
lime-green = #CDDC39
green = #009688
green-lighter = #B2DFDB
green-darker = #00796B
purple = #4527A0
orange = #FF5722
orange-darker = #BF360C
red = #F44336
blue = #6086D0

// widths
rupture.mobile-cutoff = 414px
